*{
    margin: 0;
    padding: 0;
}
.main-grid{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.title{
    width: 100vw;
    height: 120px;
}
.title h1{
    font-size: 50px;
}
.title .main{
    padding-top: 2rem;
}
.title{
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    color: rgb(8, 197, 140);
    opacity: 0;
    animation: fadeBot 1s ease forwards;
}
@keyframes fadeBot{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.members{
    height: 400px;
    padding: 3rem 0
}

.members .col-6{
    background: lightcyan;
    width: 427px;
    height: 350px;
    padding: 0;
}

.members .top-side{
    height: 70%;
    width: 100%;
}
.members .bot-side{
    height: 30%;
    width: 100%;
    background: #2C3F52
}
.members .top-side .avatar{
    width: 150px;
    height: 150px;
    background-image: url("https://scontent.fhan5-6.fna.fbcdn.net/v/t1.15752-9/243200002_546742216405276_1905844994789885151_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=bqS3WiO1jaQAX-EkIJz&_nc_ht=scontent.fhan5-6.fna&oh=60a611f9c1314a46fe794d6e263a8a2f&oe=6185E9D1");
    background-size: cover;
    background: lightpink;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.members .top-side .avatar img{
    width: 150px;
    height: 150px;
}
.members .top-side .avatar .c1{
    height: 200px !important;
}

.test .col{
    background: lightsalmon;
    width: 350px;
    height: 350px;
}
.members .bot-side .capture{
    padding: 10px;
    width: 70%;
    height: 100%;
}
.members .bot-side .btn{
    width: 30%;
    height: 100%;
    padding: 0 10px 20px 0
}
.members .bot-side .btn a{
    width: 100px;
    height: 30px;
    background:rgb(247, 140, 0);
    color: #ffffff;
    border: none;
    letter-spacing: 3px;
    transition: .3s ease;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    font-family: "Quicksand";
    padding-top: 2px
}
.members .bot-side .btn a:hover{
    transform: scale(1.1, 1.1);
    transition: .3s ease;
    background: transparent;
    border: 1px solid rgb(247, 140, 0);
    color: rgb(247, 140, 0)
}
.members .bot-side .capture h3
{
    color: white 
}
.members .bot-side .capture p{
    color: #E14557
}

.members .pink{
    background: #F8AEAA;
}
.members .green{
    background: #71eedd;
}
.members .salmon{
    background: #FFEBB5;
}
.members .lightblue{
    background: #DBF1FA;
}
@keyframes fadeLeft{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.pink,
.green,
.salmon,
.lightblue{
    opacity: 0;
}
.pink{
    animation: fadeRight 1.5s ease forwards;
    animation-delay: .7s
}
.green{
    animation: fadeLeft 1.5s ease forwards;
    animation-delay: 1.3s
}
.salmon{
    animation: fadeRight 1.5s ease forwards;
    animation-delay: 1.5s
}
.lightblue{
    animation: fadeLeft 1.5s ease forwards;
    animation-delay: 1.7s
}
